# Server Configuration
PORT=3000
NODE_ENV=development

# June CRM (inwo.crmcore.me - Alex-TC24)
CRM_CORE_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates
CRM_CORE_TOKEN=AFF_1_92cbc1bc76284e19b711bab22587d75f

# July CRM (api.myinvesttrade.com - 20 Websites)
MYINVESTTRADE_URL=https://api.myinvesttrade.com/api/lead_management/api/affiliates
MYINVESTTRADE_TOKEN=AFF_1_697ac63e6f88cac9f990b1a5c4beaefd
